.list-content{
    min-height:300px;
   }
   .list-content .list-group .title{
     background: #F05151;
     border:2px solid #DDDDDD;
     font-weight:bold;
     color:#FFFFFF;
   }
   .list-group-item img {
       height:80px; 
       width:80px;
   }
   
   .jumbotron .btn {
       padding: 5px 5px !important;
       font-size: 12px !important;
   }
   .prj-name {
       color:#F05151;    
   }
   .break{
       width:100%;
       margin:20px;
   }
   .name {
       color:#F05151;    
   }

   